{% extends "base_generic.html" %}

{% block content %}

<h1>Автор: {{ author }} </h1>
<p>{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Книги</h4>

<dl>
{% for book in author.book_set.all %}
<div class="list-group" style="width: 7.5cm; margin-top: 10px">

        <button type="button" class="list-group-item list-group-item-action ">
          <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </button>
      </div>

{% endfor %}
</dl>
{% if user.is_authenticated %}
<p><a class="btn btn-primary" href="{% url 'author_update' author.pk %}" role="button">Редагувати автора</a></p>
<p><a class="btn btn-primary" href="{% url 'author_delete' author.pk %}" role="button">Видалити автора</a></p>
{% endif %}
</div>
{% endblock %}
